<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netson.commonmodule">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ListHelperActivity" />
        <activity android:name=".activity.AndPermissionActivity" />
    </application>

</manifest>